:root {
  --main-bg-color: #f0f4f8;
  --header-footer-color: #4a90e2;
  --main-text-color: #333;
  --button-bg-color: #ff5722;
  --button-hover-color: #e64a19;
  --container-bg-color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;


  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Arial, sans-serif;
}

.top-header,
.footer {
  width: 100%;
  padding: 1rem;

  background-color: var(--header-footer-color);
  color: white;
  text-align: center;
}

